:root {
  font-size: 16px;
}

body {
  background-color: black;
}
.main-back {
  background-image: url('/images/space.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 575px;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.pro-pic {
  padding-top: 160px;
  padding-right: 15px;
  padding-left: 20px;
  max-height: 130px;
  width: auto;
  border-radius: 20px;
}
.text-box {
  color: black;
  font-size: 1.17em;
  height: 100px;
  width: 500px;
  margin-top: 81px;
  padding-top: 2px;
  background-color: rgb(172, 172, 172, 0.5);
  border-radius: 10px;
}
.game-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 6rem;
  margin-right: 15.7rem;
  margin-left: 15.7rem;
  background-color: rgba(66, 63, 63, 0.5);
}
.game-container > img {
  border-radius: 2px;
}
strong {
  font-size: 2rem;
}
article {
  margin: 0 5rem 5rem 5rem;
  border-radius: 2px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 1rem;
  position: relative;
  margin-left: 16rem;
  margin-right: 16rem;
}

article.react h1 {
  background-image: url('/images/react.png');
}

article.fizz-buzz h1 {
  background-image: url('/images/code.png');
}

article div {
  margin: 2.5rem;
}

article h1 {
  margin: 0;
  padding: 0;
  height: 100px;
  background-size: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

article h2 {
  color: black;
  background-color: white;
}

article span {
  font-size: 0.4rem;
}

article.reading {
  position: absolute;
  right: 1rem;
  bottom: -0.6rem;
  background-color: blue;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

footer h1 {
  text-align: center;
  color: white;
}

.tweet {
  display: flex;
  justify-content: center;
}

.tweet img {
  /* height: auto;
  width: auto; */
  max-width: 70px;
  max-height: 70px;
  padding: 1rem;
}

footer p {
  color: white;
}
