.main-back {
  background-image: url('/images/space.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 600px;
}

.profile-container {
  display: flex;
  justify-content: center;
}

.pro-pic {
  padding-top: 160px;
  padding-right: 15px;
  padding-left: 20px;
  max-height: 120px;
  width: auto;
  border-radius: 20px;
}

.text-box {
  color: black;
  font-size: 1.17em;
  height: 100px;
  width: 500px;
  margin-top: 152px;
  padding-top: 28px;
  background-color: rgb(172, 172, 172, 0.5);
  border-radius: 10px;
}

.game-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 16rem;
  margin-right: 16rem;
  background-color: rgba(66, 63, 63, 0.5);
}

strong {
  font-size: 2rem;
}
