:root {
  font-size: 16px;
}

body {
  background-color: black;
}
.main-back {
  background-image: url('/images/space.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 575px;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.pro-pic {
  padding-top: 160px;
  padding-right: 15px;
  padding-left: 20px;
  max-height: 150px;
  width: auto;
  border-radius: 20px;
}
.text-box {
  position: relative;
  color: black;
  font-size: 1em;
  height: 100px;
  width: 500px;
  margin-top: 81px;
  padding-top: 2px;
  background-color: rgb(172, 172, 172);
  border-radius: 20px;
  padding-left: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carrot {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 41px solid transparent;
  border-top-color: rgb(172, 172, 172);
  border-bottom: 0;
  border-left: 0;
  margin-left: -40px;
  margin-bottom: -39px;
}

.game-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 6rem;
  margin-right: 15.7rem;
  margin-left: 15.7rem;
  background-color: rgba(66, 63, 63, 0.5);
}
.game-container > img {
  border-radius: 2px;
}
strong {
  font-size: 2rem;
}
article {
  margin: 0 16rem 2rem 16rem;
  border-radius: 2px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

article.react h1 {
  background-image: url('/images/react.png');
}

article.fizz-buzz h1 {
  background-image: url('/images/code.png');
}

article div {
  margin: 2.5rem;
}

article h1 {
  margin: 0;
  padding: 0;
  height: 100px;
  background-size: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article h2 {
  color: black;
  background-color: white;
  padding-left: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article p {
  padding-right: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article span {
  font-size: 0.8rem;
}
span.reading {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  background-color: rgb(90, 90, 207);
  padding: 0.75rem;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 10px;
}

footer h1 {
  text-align: center;
  color: white;
  padding: 1rem;
}

.tweet {
  display: flex;
  justify-content: center;
}

.tweet img {
  height: auto;
  width: auto;
  max-width: 70px;
  max-height: 70px;
  padding: 1rem;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 2rem;
}

@media (max-width: 900px) {
  .game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
